*{
margin: 0;
padding: 0;
}
body{
    background-color: white;
}
.container{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-wrap:wrap;
}
.card{
    width: 220px;
    height: 340px;
    text-align: center;
    background-color: rgb(5, 3, 0);
    color: red;
    padding: 30px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}
h2{
    margin-top: 10px;
}
p{
    margin-top: 10px;
}
img{
height:60%;
}